<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Users
    </h2>
  </div>
  {{#each stellarUsers as |stellarUser|}}
  <div class="dish col-md-4">
    <p>
      {{stellarUser.id}}
      {{stellarUser.username}}
      {{stellarUser.name}}
      {{stellarUser.zipcode}}
      {{stellarUser.email}}
    </p>
  </div>
  {{/each}}
</div>


