 
<div class="row">
  <div class="row">
    <form id="searchForm" class="container-fluid">
      <input id="zipcodeInput"  type="text" placeholder="zipcode" /> 
      <input id="eventDateInput" type="text" placeholder="mm/dd/yyyy" />
      <button id="searchEventButton" type="submit" >Search</button>
    </form>
  </div>
  <div class="row">
   <div  class="list-group overflow-auto col-sm-7 col-md-7 col-lg-7">
      <ul id="stellarEventList" class="list-group">
      <!--  loop through stellarEvents and create list time.
            The list item has buttons for view, save, ical
      -->
      {{#each stellarUserEvents as |stellarUserEvents|}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="stellarEvent" width="100%">{{stellarEvent.description}}</span>
          <span class="stellarEvent" width="100%" id="stellarEventPhoto">{{stellarEvent.photo}}</span>
          <span class="stellarEvent" width="100%" id="stellarEventInfo">{{stellarEvent.info}}</span>
          <span class="float-right">
            <button class="viewButton" value="{{stellarEvent.id}}"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="saveButton" value="{{stellarEvent.id}}"><i class="fa-solid fa-floppy-disk"></i></button>
            <button class="calendarButton" value="{{stellarEvent.id}}"><i class="fa-solid fa-calendar-plus"></i></button>
          </span>
        </li>
      {{/each}}
      </ul>
    </div>
    <!--  show thumbnail image of event and description -->
    <div class="col-sm-5 col-md-5 col-lg-5">
      <div id="detailArea">
        <p><img class="" id="detailPhoto" src="" alt="space image"></p>
        <p id="detailInfo"></p>
      </div>
    </div>
  </div>
</div>


    <!-- Included Scripts -->
    <script src="./assets/js/eventpage.js"></script>
